@font-face {
  font-family: "roboto";
  src: url(../police/Roboto-Regular.ttf);
}

@font-face {
  font-family: "shrikhand";
  src: url(../police/Shrikhand-Regular.ttf);
}

body {
  margin: 0px;
  padding: 0px;
}

.entete {
  height: 60px;
  text-align: center;
  line-height: 60px;
}

.entete .logo {
  height: 25px;
  width: 160px;
  font-family: "shrikhand";
}

.localite_accueil {
  text-align: center;
  background-color: #eaeaea;
  -webkit-box-shadow: 0px 0px 3px;
          box-shadow: 0px 0px 3px;
  height: 50px;
  padding-top: 5px;
}

.localite_accueil #localite_texte {
  margin-left: 10px;
  border: none;
  background-color: #eaeaea;
  font-weight: 700;
}

.localite_accueil .fa-map-marker {
  margin-left: 40px;
}

.img_accueil {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 340px;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 1000px) {
  .img_accueil {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1110px) {
  .img_accueil {
    margin-right: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .img_accueil {
    margin-right: 120px;
  }
}

@media screen and (min-width: 1378px) {
  .img_accueil {
    margin-right: 200px;
  }
}

@media screen and (min-width: 1510px) {
  .img_accueil {
    margin-right: 0px;
  }
}

h4 {
  font-family: "roboto";
  font-size: 25px;
  padding-left: 20px;
}

@media screen and (min-width: 1000px) {
  h4 {
    text-align: center;
  }
}

h3 {
  font-family: "roboto";
  font-weight: 100;
  text-align: center;
}

h2 {
  padding-left: 20px;
  font-family: "roboto";
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #f6f6f6;
}

@media screen and (min-width: 1000px) {
  h2 {
    text-align: center;
  }
}

.presentation_accueil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f6f6;
  padding-top: 40px;
  padding-bottom: 60px;
}

.presentation_accueil h1 {
  font-family: "roboto";
  text-align: center;
}

.presentation_accueil .explorez {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  min-width: 220px;
  height: 50px;
  -webkit-box-shadow: 5px 5px 1px #eaeaea;
          box-shadow: 5px 5px 1px #eaeaea;
  opacity: 1;
  border-radius: 50px;
  line-height: 50px;
  vertical-align: middle;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
}

.presentation_accueil .explorez:hover {
  opacity: 0.8;
  -webkit-box-shadow: 5px 5px 1px #c9c7c7;
          box-shadow: 5px 5px 1px #c9c7c7;
}

.presentation_accueil .explorez #explorez_texte {
  color: white;
  margin-left: 20px;
  font-family: "roboto";
}

.ctn_fonction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 60px;
}

.ctn_fonction .fonctionnement {
  background-color: #f6f6f6;
  -webkit-box-shadow: 5px 5px 1px #eaeaea;
          box-shadow: 5px 5px 1px #eaeaea;
  margin-bottom: 20px;
  border-radius: 20px;
  margin-left: 15px;
  padding-left: 10px;
  width: 320px;
  height: 75px;
  line-height: 75px;
  vertical-align: middle;
}

@media screen and (min-width: 1300px) {
  .ctn_fonction .fonctionnement {
    margin-top: 40px;
    margin-left: 40px;
  }
}

.ctn_fonction .fonctionnement .fonctionnement_chiffre {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 2px;
  padding-top: 2px;
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: -20px;
}

.ctn_fonction .fonctionnement .fonctionnement_icone {
  margin-right: 20px;
}

.ctn_fonction .fonctionnement .fonctionnement_texte {
  font-family: "roboto";
  text-align: center;
}

@media screen and (min-width: 1300px) {
  .ctn_fonction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.fa-store {
  color: #9356DC;
}

.restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -25px;
  width: auto;
  background-color: #f6f6f6;
  padding-top: 40px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1000px) {
  .restaurant {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1510px) {
  .restaurant {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.restaurant a {
  text-decoration: none;
  color: #000;
}

.restaurant .restaurant_identification {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: white;
  -webkit-box-shadow: 5px 5px 1px #eaeaea;
          box-shadow: 5px 5px 1px #eaeaea;
  width: 340px;
  padding-top: 20px;
  margin-top: -10px;
  padding-bottom: 20px;
  margin-bottom: 15px;
}

.restaurant .coeur {
  position: relative;
  float: right;
  margin-right: 35px;
  margin-top: -10px;
}

.restaurant .coeur .fas {
  height: 0%;
  -webkit-transition: height 2s;
  transition: height 2s;
  color: transparent;
  background: none;
  position: absolute;
  margin-left: -16px;
  margin-top: 1px;
}

.restaurant .coeur:hover .fas {
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to top, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
}

.restaurant .restaurant_nom {
  font-family: "roboto";
  margin-left: 20px;
  font-weight: bold;
}

.restaurant .restaurant_lieu {
  font-family: "roboto";
  font-weight: 100;
  margin-left: 20px;
}

.restaurant .carte_restaurant_nouveau {
  display: inline-block;
}

.restaurant .btn_restaurant {
  height: 30px;
  width: 80px;
  color: #008766;
  background-color: #99E2D0;
  position: absolute;
  z-index: 1;
  margin-top: 15px;
  margin-left: 245px;
}

footer {
  color: white;
  background-color: #353535;
  padding-top: 25px;
  padding-left: 25px;
  padding-bottom: 35px;
}

@media screen and (min-width: 600px) {
  footer {
    text-align: center;
  }
}

footer .logo_footer {
  width: 100px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

footer a {
  text-decoration: none;
  color: white;
}

footer .footer_texte {
  margin-left: 10px;
}

footer .icone_footer {
  margin-right: 5px;
}

footer #texte_footer {
  margin-left: 10px;
}

footer p {
  line-height: 200%;
}

.loading {
  opacity: 0;
  -webkit-animation: spinner 3s;
          animation: spinner 3s;
  position: fixed;
  pointer-events: none;
  text-align: center;
  z-index: 2;
  padding-top: 60%;
  padding-bottom: 40%;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to top, #FF79DA, #9356DC);
}

@media screen and (min-width: 1300px) {
  .loading {
    padding-top: 30%;
    padding-bottom: 70%;
  }
}

.loading .loading_logo {
  height: 30px;
  width: 280px;
  -webkit-animation: rotation 2s;
          animation: rotation 2s;
}

@media screen and (min-width: 1300px) {
  .loading .loading_logo {
    max-width: 600px;
  }
}

@-webkit-keyframes spinner {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes spinner {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
  }
}
/*# sourceMappingURL=projet3.css.map */