@font-face {
  font-family: "roboto";
  src: url(../police/Roboto-Regular.ttf);
}

@font-face {
  font-family: "shrikhand";
  src: url(../police/Shrikhand-Regular.ttf);
}

body {
  margin: 0px;
  padding: 0px;
}

.entete {
  height: 60px;
  text-align: center;
  line-height: 60px;
}

.entete .logo {
  height: 25px;
  width: 160px;
  font-family: "shrikhand";
}

.fa-arrow-left {
  float: left;
  margin-top: 10px;
  padding-left: 20px;
}

h2 {
  margin-left: 20px;
  font-family: "roboto";
  font-size: 15px;
  font-weight: 100;
  padding-top: 20px;
  padding-bottom: 5px;
  border-bottom: solid #99E2D0;
  width: 40px;
}

.fa-store {
  color: #9356DC;
}

.btn_commander {
  width: 185px;
  height: 50px;
  margin-top: 50px;
  border-radius: 50px;
  -webkit-box-shadow: 5px 5px 1px #eaeaea;
          box-shadow: 5px 5px 1px #eaeaea;
  opacity: 1;
  border: none;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
  margin-left: 80px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
}

.btn_commander #commander_texte {
  color: white;
}

.btn_commander:hover {
  opacity: 0.8;
  -webkit-box-shadow: 5px 5px 1px #c9c7c7;
          box-shadow: 5px 5px 1px #c9c7c7;
}

.btn_commander:focus {
  outline: 0;
}

footer {
  color: white;
  background-color: #353535;
  padding-top: 25px;
  padding-left: 25px;
  padding-bottom: 35px;
}

@media screen and (min-width: 600px) {
  footer {
    text-align: center;
  }
}

footer .logo_footer {
  width: 100px;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

footer a {
  text-decoration: none;
  color: white;
}

footer .footer_texte {
  margin-left: 10px;
}

footer .icone_footer {
  margin-right: 5px;
}

footer #texte_footer {
  margin-left: 10px;
}

footer p {
  line-height: 200%;
}

.ctn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 700px) {
  .ctn {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
    background: linear-gradient(to top, #9356DC, #FF79DA);
  }
}

.photo_resto {
  position: relative;
}

.photo_resto .img_resto {
  height: 260px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: 0;
}

.photo_resto .titre_resto {
  background-color: #f6f6f6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  z-index: 1;
  padding-top: 40px;
  width: 375px;
  position: relative;
  top: 220px;
}

.photo_resto .titre_resto .nom_resto {
  margin-left: 20px;
  font-size: 25px;
  font-family: "shrikhand";
}

.photo_resto .titre_resto .coeur {
  position: relative;
  float: right;
  margin-right: 35px;
  margin-top: 10px;
}

.photo_resto .titre_resto .coeur .fas {
  -webkit-transition: height 2s;
  transition: height 2s;
  height: 0%;
  color: transparent;
  background: none;
  position: absolute;
  margin-left: -16px;
  margin-top: 1px;
}

.photo_resto .titre_resto .coeur:hover .fas {
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to top, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
}

.menu_resto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f6f6f6;
  padding-bottom: 70px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 220px;
}

@media screen and (min-width: 700px) {
  .menu_resto {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.menu_resto .responsive {
  -webkit-animation: apparition 3s;
          animation: apparition 3s;
  opacity: 1;
}

.menu_resto .plats {
  background-color: white;
  -webkit-box-shadow: 5px 5px 1px #eaeaea;
          box-shadow: 5px 5px 1px #eaeaea;
  margin-bottom: 15px;
  border-radius: 20px;
  margin-left: 10px;
  width: 350px;
  height: 70px;
}

.menu_resto .plats:hover .plats_texte .check {
  visibility: hidden;
}

.menu_resto .plats:hover .plats_texte .check_replace {
  visibility: visible;
}

.menu_resto .plats:hover .plats_tarifs {
  margin-right: 80px;
  -webkit-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.menu_resto .plats:hover .plats_check {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.menu_resto .plats:hover .plats_check .fa-check {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: -webkit-transform;
  transition: -webkit-transform;
  transition: transform;
  transition: transform, -webkit-transform;
  -webkit-transition: 1s;
  transition: 1s;
}

.menu_resto .plats .plats_texte {
  padding-top: 10px;
  padding-left: 10px;
}

.menu_resto .plats .plats_texte .suggestion {
  font-family: "roboto";
  font-weight: bold;
  font-size: 18px;
}

.menu_resto .plats .plats_texte .accompagnement {
  font-weight: 100;
  font-family: "roboto";
  font-size: 15px;
}

.menu_resto .plats .plats_texte .check_replace {
  visibility: hidden;
  margin-left: -60px;
}

.menu_resto .plats .plats_tarifs {
  float: right;
  margin-top: -20px;
  margin-right: 20px;
  font-weight: bold;
}

.menu_resto .plats .plats_check {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform;
  transition: -webkit-transform;
  transition: transform;
  transition: transform, -webkit-transform;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  background-color: #99E2D0;
  margin-left: 290px;
  margin-top: -50px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 60px;
  height: 70px;
}

.menu_resto .plats .plats_check .fa-check {
  background-color: white;
  color: #99E2D0;
  border-radius: 50%;
  margin-top: 20px;
  margin-left: 20px;
  padding: 5px;
}

@-webkit-keyframes apparition {
  0% {
    opacity: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes apparition {
  0% {
    opacity: 0;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}
/*# sourceMappingURL=restaurant.css.map */