$primaire: #9356DC ;
$secondaire: #FF79DA ;
$tertiaire: #99E2D0 ;
$background_chapitre: #f6f6f6;
$police1: "shrikhand";
$police2: "roboto";
@font-face {font-family:"roboto" ;src:url(../police/Roboto-Regular.ttf);}  
@font-face {font-family:"shrikhand" ;src:url(../police/Shrikhand-Regular.ttf);}     

body
{
 margin: 0px;
 padding: 0px;
}
   
.entete
{
   height: 60px;
   text-align: center;
   line-height: 60px;
   .logo
      {  
         height: 25px;
         width: 160px;
         font-family: $police1;
      }
}

.fa-arrow-left
{
 float: left;
 margin-top: 10px;
 padding-left: 20px;
}

h2
{
   margin-left: 20px;
   font-family: $police2;
   font-size: 15px;
   font-weight: 100;
   padding-top: 20px;
   padding-bottom: 5px;
   border-bottom: solid $tertiaire;
   width: 40px;
}

.fa-store
   {
      color: $primaire;
   }

.btn_commander
{
   width: 185px;
   height: 50px;
   margin-top: 50px;
   border-radius: 50px;
   box-shadow: 5px 5px 1px #eaeaea;
   opacity: 1;
   border: none;
   text-align: center;
   line-height: 50px;
   vertical-align: middle;
   margin-left: 80px;
   background: linear-gradient(to bottom, $secondaire ,$primaire)  ;
   #commander_texte
   {
      color: white;
   }
   &:hover
   {
      opacity: 0.8;
      box-shadow: 5px 5px 1px #c9c7c7;
   }
   &:focus
   {
       outline: 0;
   }
}

footer
{
   color: white;
   background-color: #353535;
   padding-top: 25px;
   padding-left: 25px;
   padding-bottom: 35px;
   @media screen and (min-width:600px) 
   {
      text-align: center;   
   }
   .logo_footer
   {
      width: 100px;
      filter: invert(100%);
   }
   a
   {
      text-decoration: none;
      color: white;
   }
   .footer_texte
   {
      margin-left: 10px;
   }
   .icone_footer
   {
      margin-right: 5px;
   }
   #texte_footer
   {
      margin-left: 10px;
   }
   p
   {
      line-height: 200%;
   }
}

.ctn
{
   display: flex;
   flex-direction: column;
   align-items: center;
   @media screen and (min-width:700px) 
   {
      flex-direction: row;
      background: linear-gradient(to top, $primaire,$secondaire);   
   }
}

.photo_resto
{  
   position: relative;
   .img_resto
   {
   height: 260px;
   width: 100%;
   object-fit: cover;
   position: absolute;
   z-index: 0;
   }
   .titre_resto
   {
      background-color: $background_chapitre;
      border-top-left-radius:  40px;
      border-top-right-radius: 40px;
      z-index: 1;
      padding-top: 40px;
      width: 375px;
      position: relative;
      top: 220px;
      .nom_resto
      {
         margin-left: 20px;
         font-size: 25px;
         font-family: $police1;
      }
      .coeur
      { 
         position: relative;
         float: right;
         margin-right: 35px;
         margin-top: 10px;
            
         .fas
         {
            transition: height 2s;
            height: 0%;
            color: transparent;
            background: none;
            position: absolute;
            margin-left: -16px;
            margin-top: 1px;
         }
         &:hover
         {
            .fas
            {
            height: 100%;
            background: linear-gradient(to top, $primaire,$secondaire) ;
            background-clip: text;
            -webkit-background-clip: text;
            }
         }
      }  
            
   
   }
}

.menu_resto
{
   display: flex;
   flex-direction: column;
   background-color: $background_chapitre;
   padding-bottom: 70px;
   padding-left: 10px;
   padding-right: 10px;
   margin-top: 220px;
   @media screen and (min-width:700px) 
   {
      flex-direction: row;
      flex-wrap: wrap;   
   }
   .responsive
   {
      animation: apparition 3s;
      opacity: 1;
   }
   
  .plats
   {
     background-color: white;
     box-shadow: 5px 5px 1px #eaeaea;
     margin-bottom: 15px;
     border-radius: 20px;
     margin-left: 10px;
     width: 350px;
     height: 70px;
     &:hover
     {
        .plats_texte
        {
         
           .check
           {
              visibility: hidden;
           }
           .check_replace
           {
              visibility: visible;
           }
        }
        .plats_tarifs
        {
           margin-right: 80px;
           transition-duration: 0.8s;
        }
        .plats_check
        {
           transform: scaleX(1);
           .fa-check
           {
              transform: rotate(360deg);
              transition: transform;
              transition: 1s;
           }
        }
     }
     .plats_texte
     {
        padding-top: 10px;
        padding-left: 10px;
        .suggestion
        {
           font-family: $police2;
           font-weight: bold;
           font-size: 18px;
        }
        .accompagnement
        {
           font-weight: 100;
           font-family: $police2;
           font-size: 15px;
        }
        .check_replace
        {
           visibility: hidden;
           margin-left: -60px;
        }
     }
     .plats_tarifs
     {
        float: right;
        margin-top: -20px;
        margin-right: 20px; 
        font-weight: bold; 
     }

     .plats_check
     {
        transform: scaleX(0);
        transform-origin: right;
        transition: transform;
        transition-duration: 1s;
        background-color: $tertiaire;
        margin-left: 290px;
        margin-top: -50px;
        border-top-right-radius:    20px;
        border-bottom-right-radius: 20px;
        width: 60px;
        height: 70px;
        .fa-check
        {
           background-color: white;
           color: $tertiaire;
           border-radius: 50%;
           margin-top: 20px;
           margin-left: 20px;
           padding: 5px;
        }
      }
   }   

 }
   
      @keyframes apparition
      {
         0%{
            opacity: 0;
            transform: scaleY(0);
            transform-origin: bottom;
         }
         50%{
            opacity: 0;
         }
         to{
            opacity: 1;
            transform: scaleY(1);
         }
      }
      